div(class= "inputSection")
  h2 Environmental Data
  div(class= "formInputLine")
    label(class= "formInputLabel") Ambient Temperature:
    input(class= "formInputBox" type="text" name= "temperature" placeholder= "degrees Farenhiet")
  div(class= "formInputLine")
    label(class= "formInputLabel") Relative Humidity:
    input(class= "formInputBox" type="text" name= "humidity" placeholder= "percent")