extends layout

block content
  h1= title
  p Welcome to the Total Grading System (TGS) Calculator
  p Fill out the form below and submit to calculate the true difficulty of your latest sick-gnar proj for accurate spraying purposes
    
  div
  form(method="post" action="/submitForm")
    div
      label Consensus V Grade
        input(type="text" name= "consensusVGrade" placeholder= "Consensus V Grade")
    div
      label Your Hieght
        input(type="text" name= "heightFeet" placeholder= "feet")
        input(type="text" name= "heightInches" placeholder= "inches")
    div
      label Your Weight
        input(type="text" name= "weight" placeholder= "pounds")
    div
      label Your Ape Index
      input(type="text" name= "apeIndex" placeholder= "inches")
    div
      label Your Blood Alcohol Content
      input(type="text" name= "bloodAlcohol" placeholder= "% BAC by volume")
    div
      label Your Age
      input(type="text" name= "age" placeholder= "years")
    div
      label Ambient Temperature
      input(type="text" name= "temperature" placeholder= "degrees Farenhiet")
    div
      label Relative Humidity
      input(type="text" name= "humidity" placeholder= "percent")
    div
      input(type="submit" value="Tell me the truth")