extends layout

block content 

  div(id="tabs", class= "inputForm") Fill out the form below and submit to calculate the true difficulty of your latest sick-gnar proj for accurate spraying purposes.
    ul
      li
        a(href="#fragment-1") Simple Spray
      li
        a(href="#fragment-2") Standard Spray
      li
        a(href="#fragment-3") Super Spray
        
    div(id="fragment-1")
      form(class= "group" method="post" action="/")
        include consensusGrade.jade
        include personalData.jade
        include submitSection.jade
        //- div(class= "submitSection")
        //-   button(id= "simpleSubmitButton" type="button") Tell me the Truth
        //-   button(type="reset") Clear Form

    div(id="fragment-2")
      form(class= "group" method="post" action="/")
        include consensusGrade.jade
        include personalData.jade
        include environmentalData.jade
        include submitSection.jade        
        //- div(class= "submitSection")
        //-   button(id= "standardSubmitButton" type="button") Tell me the Truth
        //-   button(type="reset") Clear Form        include submitSection.jade

    div(id="fragment-3")
      form(class= "group" method="post" action="/")
        include consensusGrade.jade
        include personalData.jade
        include environmentalData.jade
        include metaphysicalData.jade
        include submitSection.jade
        //- div(class= "submitSection")
        //-   button(id= "superSubmitButton" type="button") Tell me the Truth
        //-   button(type="reset") Clear Form

  //- div(class= "resultSection group")
  //-   h1 Your True Grade
  //-     h1(class= "tgsGrade")= tgsGrade