extends layout

block content
  
  p Welcome to the Total Grading System (TGS) Calculator

  div(id="tabs", class= "inputForm") Fill out the form below and submit to calculate the true difficulty of your latest sick-gnar proj for accurate spraying purposes.
    ul
      li
        a(href="#fragment-1") Simple Spray
      li
        a(href="#fragment-2") Standard Spray
      li
        a(href="#fragment-3") Super Spray
    div(id="fragment-1")
      form(class= "group" method="post" action="/")
        div(class= "inputSection group")
          h2 Consensus V Grade
          div(class= "vGradeInput")
            label V
            input(class= "formInputBox" type="text" name= "consensusVGrade" placeholder= "#")
        div(class= "inputSection")
          h2 Personal Data
          div(class= "formInputLine")
            label(class= "formInputLabel") Your Height:
            input(class= "formInputBox" type="text" name= "heightFeet" placeholder= "feet")
            input(class= "formInputBox" type="text" name= "heightInches" placeholder= "inches")
        div(class= "submitSection")
          button(type="submit") Tell me the Truth
          button(type="reset") Clear Form
    div(id="fragment-2")
      form(class= "group" method="post" action="/")
        div(class= "inputSection group")
          h2 Consensus V Grade
          div(class= "vGradeInput")
            label V
            input(class= "formInputBox" type="text" name= "consensusVGrade" placeholder= "#")
        div(class= "inputSection")
          h2 Personal Data
          div(class= "formInputLine")
            label(class= "formInputLabel") Your Height:
            input(class= "formInputBox" type="text" name= "heightFeet" placeholder= "feet")
            input(class= "formInputBox" type="text" name= "heightInches" placeholder= "inches")
          div(class= "formInputLine")
            label(class= "formInputLabel") Your Weight:
            input(class= "formInputBox" type="text" name= "weight" placeholder= "pounds")
          div(class= "formInputLine")
            label(class= "formInputLabel") Your Ape Index:
            input(class= "formInputBox" type="text" name= "apeIndex" placeholder= "inches")
          div(class= "formInputLine")
            label(class= "formInputLabel") Your Blood Alcohol Content:
            input(class= "formInputBox" type="text" name= "bloodAlcohol" placeholder= "% BAC by volume")
          div(class= "formInputLine")
            label(class= "formInputLabel") Your Age:
            input(class= "formInputBox" type="text" name= "age" placeholder= "years")
        div(class= "inputSection")
          h2 Environmental Data
          div(class= "formInputLine")
            label(class= "formInputLabel") Ambient Temperature:
            input(class= "formInputBox" type="text" name= "temperature" placeholder= "degrees Farenhiet")
          div(class= "formInputLine")
            label(class= "formInputLabel") Relative Humidity:
            input(class= "formInputBox" type="text" name= "humidity" placeholder= "percent")
        div(class= "submitSection")
          button(type="submit") Tell me the Truth
          button(type="reset") Clear Form   	
    div(id="fragment-3")
      form(class= "group" method="post" action="/")
        div(class= "inputSection group")
          h2 Consensus V Grade
          div(class= "vGradeInput")
            label V
            input(class= "formInputBox" type="text" name= "consensusVGrade" placeholder= "#")
        div(class= "inputSection")
          h2 Personal Data
          div(class= "formInputLine")
            label(class= "formInputLabel") Your Height:
            input(class= "formInputBox" type="text" name= "heightFeet" placeholder= "feet")
            input(class= "formInputBox" type="text" name= "heightInches" placeholder= "inches")
          div(class= "formInputLine")
            label(class= "formInputLabel") Your Weight:
            input(class= "formInputBox" type="text" name= "weight" placeholder= "pounds")
          div(class= "formInputLine")
            label(class= "formInputLabel") Your Ape Index:
            input(class= "formInputBox" type="text" name= "apeIndex" placeholder= "inches")
          div(class= "formInputLine")
            label(class= "formInputLabel") Your Blood Alcohol Content:
            input(class= "formInputBox" type="text" name= "bloodAlcohol" placeholder= "% BAC by volume")
          div(class= "formInputLine")
            label(class= "formInputLabel") Your Age:
            input(class= "formInputBox" type="text" name= "age" placeholder= "years")
        div(class= "inputSection")
          h2 Environmental Data
          div(class= "formInputLine")
            label(class= "formInputLabel") Ambient Temperature:
            input(class= "formInputBox" type="text" name= "temperature" placeholder= "degrees Farenhiet")
          div(class= "formInputLine")
            label(class= "formInputLabel") Relative Humidity:
            input(class= "formInputBox" type="text" name= "humidity" placeholder= "percent")
        div(class= "submitSection")
          button(type="submit") Tell me the Truth
          button(type="reset") Clear Form

  div(class= "resultSection group")
    h1 Your True Grade
      h1(class= "tgsGrade")= tgsGrade