extends layout

block content
  p Welcome to the Total Grading System (TGS) Calculator
  p Fill out the form below and submit to calculate the true difficulty of your latest sick-gnar proj for accurate spraying purposes
    
  div
  form(method="post" action="/")
    div(class= "inputContent")
      h2 Consensus V Grade
        input(type="text" name= "consensusVGrade" placeholder= "Consensus V Grade")
    div(class= "inputSection")
      h2 Personal Data
      div
        label(class= "formInputLabel") Your Height
          input(class= "formInputBox" type="text" name= "heightFeet" placeholder= "feet")
          input(class= "formInputBox" type="text" name= "heightInches" placeholder= "inches")
      div
        label(class= "formInputLabel") Your Weight
          input(class= "formInputBox" type="text" name= "weight" placeholder= "pounds")
      div
        label(class= "formInputLabel") Your Ape Index
          input(class= "formInputBox" type="text" name= "apeIndex" placeholder= "inches")
      div
        label(class= "formInputLabel") Your Blood Alcohol Content
          input(class= "formInputBox" type="text" name= "bloodAlcohol" placeholder= "% BAC by volume")
      div
        label Your Age
          input(class= "formInputBox" type="text" name= "age" placeholder= "years")
    div(class= "inputGroup")
      h2 Environmental Data
      label Ambient Temperature
        input(class= "formInputBox" type="text" name= "temperature" placeholder= "degrees Farenhiet")
      div
        label Relative Humidity
          input(class= "formInputBox" type="text" name= "humidity" placeholder= "percent")
    div
      button(type="submit" value="Tell me the truth") Tell me the Truth
  h1 Your True Grade
    h1= tgsGrade