doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Allerta+Stencil' rel='stylesheet' type='text/css')
 
  body
    header(class= "mainHeader group")
      span(class= "headerTitle")= title
      span(class= "logIn group") log in
    block content