doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Allerta+Stencil' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/jquery-ui.css")
    link(rel="stylesheet" href="/stylesheets/jquery-ui.structure.css")
    link(rel="stylesheet" href="/stylesheets/jquery-ui.theme.css")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/jquery-ui.js")
    script(src="/javascripts/index.js")


  body
    header(class= "mainHeader")
      span(class= "headerTitle")= title
      span(class= "logIn group") log in
    block content