div(class= "inputSection")
  h2 Personal Data
  div(class= "formInputLine")
    label(class= "formInputLabel") Your Height:
    input(class= "formInputBox" type="text" name= "heightFeet" placeholder= "feet")
    input(class= "formInputBox" type="text" name= "heightInches" placeholder= "inches")
  div(class= "formInputLine")
    label(class= "formInputLabel") Your Weight:
    input(class= "formInputBox" type="text" name= "weight" placeholder= "pounds")
  div(class= "formInputLine")
    label(class= "formInputLabel") Your Ape Index:
    input(class= "formInputBox" type="text" name= "apeIndex" placeholder= "inches")
  div(class= "formInputLine")
    label(class= "formInputLabel") Your Age:
    input(class= "formInputBox" type="text" name= "age" placeholder= "years")