/*============ Base Styles ===============*/

header {
	width: 100%;
	float : left;
	margin: 0;
	height: 100px;

}

body {
	margin: 20px;
	background-color: #000000;
	color: #FFFFFF;

}

form {
	width: 50%;
	margin: 10px 10px 50px 50px;
	float: left;
}

h1 {

}

h2 {
	text-align: center;
}

button {
	margin: 20px 50px;
}

img {

}


/*============  Main Styles ===============*/
.logIn {
	float: right;
	width: 20%;
	text-align: right;
	margin: 0;
}

.inputSection {
	background-color: #FFFFFF;
	color: #000000;
	border-style: inset;
	width: 100%;
	/*float: left;*/
}

.vGradeInput {
	margin: 0px 0px 5px 0px;
	text-align: center;
}

.formInputLine {
	margin: 0;
	width: 100%;
}

.formInputLabel {
	width: 200px;
	display: inline-block;
}

.formInputBox {
	display: inline-block;
	margin: 5px;
	padding: 3px;
}

.submitSection {
	background-color: #FFFFFF;
	color: #000000;
	border-style: inset;
	width: 100%;
	text-align: center;
}

.resultSection {
	background-color: #FFFFFF;
	color: #000000;
	border-style: inset;
	width: 30%;
	float: right;
	margin: 150px 50px 50px 5px;
	text-align: center;

}

.tgsGrade {
	color: #123456;
	font-size: 4em;
}


/*============  Float Clearfix ===============*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

