/*============ Base Styles ===============*/

body {
	font-family: 'Allerta Stencil', sans-serif;
	margin: 0;
	background-color: #D2D7D9;
	color: #000000;

}

form {
	font-family: 'Allerta Stencil', sans-serif;
	/*width: 50%;*/
	margin: 10px 10px 10px 10px;
	/*float: left;*/
	background: #000000 url("images/ui-bg_loop_25_000000_21x21.png") 50% 50% repeat;
	/*background-color: #031634;*/
/*	color: #FFFFFF;*/
}

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
	text-align: center;
}

p {
	margin: 10px;
}

button {
	margin: 20px 50px;
}

img {

}


/*============  Main Styles ===============*/

.mainHeader {

	background-color: #000000;
	color: #FFFFFF;
	width: 100%;
	/*padding: 10px;*/
	/*float : left;*/
	margin: 0;
	height: 100px;
	background-image: url("../images/TeamGroupSend.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

}

.headerTitle {
	margin-left: 10px;
}

.logIn {
	float: right;
	width: 20%;
	text-align: right;
	margin-right: 10px;
}

.inputForm {
	width: 50%;
	margin: 10px 10px 50px 50px;
	float: left;
	background-color: #031634;
	color: #474C54;
}

.inputSection {
/*	background-color: #181E3A;
	color: #000000;*/
	border-style: inset;
	width: 100%;
	/*float: left;*/
}

.vGradeInput {
	margin: 0px 0px 5px 0px;
	text-align: center;
}

.formInputLine {
	margin: 0;
	width: 100%;
}

.formInputLabel {
	width: 250px;
	display: inline-block;
	margin-left: 5px;
}

.formInputBox {
	width: 120px;
	display: inline-block;
	margin: 5px;
	padding: 3px;
	background-color: #FFFFFF;
	color: #000000;
}

.submitSection {
/*	background-color: #FFFFFF;
	color: #000000;*/
	border-style: inset;
	width: 100%;
	text-align: center;
}

.resultSection {
	background: #000000 url("images/ui-bg_loop_25_000000_21x21.png") 50% 50% repeat;
	background-color: #031634;
	color: #FFFFFF;
	border-style: inset;
	width: 30%;
	float: right;
	margin: 150px 50px 50px 5px;
	text-align: center;

}

.tgsGrade {
	color: #0972A5;
	font-size: 4em;
}


/*============  Float Clearfix ===============*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

