/*============ Base Styles ===============*/

header {
/*	background-color: #000000;
	color: #FFFFFF;*/
	width: 100%;
	margin: 0px 20px;
	float : left;
	margin: 0;

}

body {
	background-color: #000000;
	color: #FFFFFF;

}

form {
	width: 50%;
	margin: 0;
	float: left;
}

h1 {

}

h2 {
	text-align: center;
}

img {

}


/*============  Main Styles ===============*/
.logIn {
	float: right;
	width: 20%;
	text-align: right;
	margin: 0;
}

.inputSection {
	background-color: #FFFFFF;
	color: #000000;
	border-style: inset;
	width: 100%;
	/*float: left;*/
}
.formInputLine {
	margin: 0;
	width: 100%;
}

.formInputLabel {
	width: 200px;
	display: inline-block;
}

.formInputBox {
	display: inline-block;
	margin-left: 20px;
	margin: 5px 20px;
}

.resultSection {
	background-color: #FFFFFF;
	color: #000000;
	border-style: inset;
	width: 30%;
	float: right;

}

/*============  Float Clearfix ===============*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

